<div class="dashboard-header">
    <h2>Surveys for {{ email }}</h2>
    <button class="create-survey-btn" routerLink="/create-survey">Create Survey</button>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  
  <div *ngIf="data && data.length" class="dashboard-container">
    <div *ngFor="let survey of data" class="survey-card" (click)="viewSurvey(survey.surveyName)" >
      <h3 >{{ survey.surveyName }}</h3>
      <p>{{ survey.surveyDescription }}</p>
      <!-- Add more details if needed -->
    </div>
  </div>
  
  <div *ngIf="!data || !data.length">
    <p>No surveys found.</p>
  </div>
  
  <div *ngIf="errorMessage">
    <p class="error">{{ errorMessage }}</p>
  </div>
  