/* You can add global styles to this file, and also import other style files */


body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

mat-radio-button .mat-radio-label-content {
  display: flex;
  align-items: center;
  font-size: 1em;
}

mat-radio-button {
  margin-bottom: 10px;
}
